form.forms div {
  margin-bottom: 1em; }
form.forms input[type=text], form.forms input[type=email], form.forms input[type=password], form.forms textarea {
  line-height: 120%;
  padding: 0.5em;
  width: 100%;
  border: 1px solid #DADADA; }
form.forms input[type=submit], form.forms button {
  display: inline-block;
  background-color: #18BC9C;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 2em;
  line-height: 3em;
  border: none;
  transition: background 0.2s linear; }
form.forms input[type=submit]:hover, form.forms button:hover {
  background-color: #14A588; }

section.login-form {
  width: 80%;
  margin: 0 auto;
  background-color: #eeeeee;
  border: 1px solid #DADADA;
  padding: 2em; }

.form-errors {
  background-color: #FF6262;
  border: 2px solid #FF4242;
  padding: 2em;
  color: #fff; }
  .form-errors p {
    margin-bottom: 1em; }
  .form-errors li {
    list-style-type: none; }

.button {
  text-transform: uppercase;
  line-height: 3em;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 1em;
  border: none; }

.button:hover {
  border-bottom: none; }

.button-new {
  color: #fff;
  background-color: #18BC9C; }

.button-new:hover {
  background-color: #14A588;
  transition: background 0.2s linear;
  border-bottom: none; }

input.edit-button {
  border: none;
  text-transform: uppercase;
  background-color: #18BC9C;
  color: #fff;
  padding: 0.3em; }

input.edit-button:hover {
  background-color: #14A588;
  transition: background 0.2s linear;
  border-bottom: none; }

.cancel-button {
  border: none;
  text-transform: uppercase;
  background-color: #18BC9C;
  color: #fff;
  padding: 0.3em; }

.cancel-button:hover {
  background-color: #14A588;
  transition: background 0.2s linear;
  border-bottom: none; }

.button-standard {
  color: #2B3E50;
  background-color: #eeeeee; }

.button-standard:hover {
  background-color: #DADADA; }

.button-danger {
  color: #fff;
  background-color: #FF6262; }

.button-danger:hover {
  background-color: #FF4242; }

.button_view_conversation {
  background-color: #18BC9C;
  color: #fff;
  margin-top: 2em; }

.conversation-edit {
  display: none; }
  .conversation-edit form {
    background-color: #eeeeee;
    border: 1px solid #DADADA;
    padding: 1em;
    margin-bottom: 1em;
    position: relative; }
    .conversation-edit form input[type=text], .conversation-edit form textarea {
      width: 100%;
      border: 1px solid #DADADA;
      padding: 0.5em; }
    .conversation-edit form a.cancel-button {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      font-size: 12px; }

.description {
  background-color: #22313F;
  margin-bottom: 1em;
  padding: 1em;
  color: #fff;
  position: relative; }
  .description p {
    text-align: right; }
    .description p input.edit-button {
      font-size: 12px; }
  .description h2 {
    font-weight: normal; }

.conversation {
  background-color: #fff;
  padding: 0.3em 0.6em;
  margin-bottom: 1em;
  position: relative; }
  .conversation strong {
    position: absolute;
    top: 0.5em;
    right: 0.5em; }

.duplicateRecord {
  background-color: #FF6262;
  width: 100%;
  padding: 0.3em 0.5em;
  color: #fff;
  display: block;
  display: none; }

.comments {
  background-color: #eeeeee;
  border: 1px solid #DADADA;
  padding: 1em; }
  .comments .comment {
    font-size: 13px;
    background-color: #fff;
    margin-bottom: 1em; }
    .comments .comment .comment-title {
      background-color: #DADADA;
      padding: 0.2em; }
      .comments .comment .comment-title h3 {
        font-weight: normal;
        font-size: 13px;
        display: inline-block; }
      .comments .comment .comment-title img {
        padding-right: 0.3em; }
      .comments .comment .comment-title span {
        float: right; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none;
  color: #18BC9C; }
  a img {
    border: none; }

a:hover {
  border-bottom: 2px solid #18BC9C; }

header {
  background: #2B3E50;
  color: #fff;
  position: relative;
  height: 80px; }
  header strong {
    font-weight: normal;
    font-size: 35px; }
    header strong a {
      color: #fff;
      line-height: 80px;
      padding: 0 1em;
      display: inline-block; }
    header strong a:hover {
      border-bottom: none; }
  header nav {
    position: absolute;
    top: 1.2em;
    right: 1em; }
    header nav ul li {
      display: inline-block; }
      header nav ul li a {
        color: #fff;
        background-color: #22313F;
        display: inline-block;
        padding: 1em;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 100;
        margin-left: 0.5em; }
      header nav ul li a:hover {
        background-color: #18BC9C; }

body h1 {
  text-transform: uppercase;
  font-weight: normal; }

.big-block {
  background-color: #18BC9C;
  color: #fff;
  padding: 3em 0;
  text-align: center; }
  .big-block p {
    font-size: 75px; }
    .big-block p:after {
      content: "";
      width: 315px;
      height: 40px;
      display: block;
      background: url('../images/white-seperator.svg') no-repeat;
      margin: 0.3em auto; }
  .big-block span {
    display: block;
    font-size: 45px; }
    .big-block span:after {
      content: "";
      width: 315px;
      height: 40px;
      display: block;
      background: url('../images/white-seperator.svg') no-repeat;
      margin: 0.3em auto; }
  .big-block strong {
    display: block;
    font-size: 80px;
    font-weight: normal; }

.block {
  background-color: #eeeeee;
  border: 1px solid #DADADA;
  padding: 2em; }

.advert-square {
  color: #fff;
  background-color: #22313F;
  width: 100%;
  height: 300px;
  line-height: 300px;
  text-align: center;
  margin-bottom: 1em; }

.notices {
  position: absolute;
  bottom: 2em;
  left: 2em;
  margin: 0 auto;
  color: #fff;
  padding: 1em; }

.notice-okay {
  background-color: #18BC9C; }

.notice-bad {
  background-color: #FF6262; }


/*# sourceMappingURL=styles.css.map */