.button{
  text-transform: uppercase;
  line-height: 3em;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 1em;
  border: none;
}
.button:hover{
  border-bottom: none;
}

.button-new{
  color: $white;
  background-color: $green;
}
.button-new:hover{
  background-color: $darkgreen;
  @include button-hovers();
  border-bottom: none;
}

.button-ghost{
  color: $white;
  background-color: $green;
  border: 1px solid $white;
  text-align: center;
  width: 80%;
  display: inline-block;
  padding: 1em 0;
  margin-left: 10%;
  margin-top: 1em;
}
.button-ghost:hover{
  background-color: $darkgreen;
  @include button-hovers();
  border: 1px solid $green;
}

input.edit-button{
  @include buttons();
  background-color: $green;
  color: $white;
  padding: 0.3em;
}
input.edit-button:hover{
  background-color: $darkgreen;
  @include button-hovers();
  border-bottom: none;
}

.cancel-button{
  @include buttons();
  background-color: $green;
  color: $white;
  padding: 0.3em;
}
.cancel-button:hover{
  background-color: $darkgreen;
  @include button-hovers();
  border-bottom: none;
}


.button-standard{
  color: $blue;
  background-color: $lightgrey;
}
.button-standard:hover{
   background-color: $darkgrey;
}

.button-danger{
  color: $white;
  background-color: $red;
}
.button-danger:hover{
  background-color: $darkred;
}

.button_view_conversation{
  background-color: $green;
  color: $white;
  margin-top: 2em;
}