.button{
  text-transform: uppercase;
  line-height: 3em;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 1em;
}
.button:hover{
  border-bottom: none;
}

.button-new{
  color: $white;
  background-color: $green;
}
.button-new:hover{
  background-color: $darkgreen;
  @include button-hovers();
  border-bottom: none;
}


.button-standard{
  color: $blue;
  background-color: $lightgrey;
}
.button-standard:hover{
   background-color: $darkgrey;
}

.button-danger{
  color: $white;
  background-color: $red;
}
.button-danger:hover{
  background-color: $darkred;
}

.button_view_conversation{
  background-color: $green;
  color: $white;
  margin-top: 2em;
}