.description{
  background-color: $darkblue;
  margin-bottom: 1em;
  padding: 1em;
  color: $white;
  h2{
    font-weight: normal;

  }
}

.conversation{
  background-color: $white;
  padding: 0.3em 0.6em;
  margin-bottom: 1em;
  position: relative;
  strong{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
}

.comments{
  background-color: #eeeeee;
  border: 1px solid #DADADA;
  padding: 1em;

  .comment{
    font-size: 13px;
    background-color: $white;
    margin-bottom: 1em;

    .comment-title{
      background-color: $darkgrey;
      padding: 0.2em;
      h3{
        font-weight: normal;
        font-size: 13px;
        display: inline-block;
      }
      img{
        padding-right: 0.3em;
      }
      span{
        float: right;
      }
    }
  }

}
