form.forms{

  div{
    margin-bottom: 1em;
  }
  input[type=text],
  input[type=email],
  input[type=password]{
    line-height: 120%;
    padding: 0.5em;
    width: 100%;
  }

  input[type=submit],
  button{
    display: inline-block;
    background-color: $green;
    color: $white;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 2em;
    line-height: 3em;
    border: none;

    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;

  }

  input[type=submit]:hover,
  button:hover{
    background-color: $darkgreen;

  }

}

section.login-form{
  width: 80%;
  margin: 0 auto;

  @include block();

}

.form-errors{
  background-color: $red;
  border: 2px solid $darkred;
  padding: 2em;
  color: $white;
  p{
    margin-bottom: 1em;
  }
  li{
    list-style-type: none;
  }
}