@mixin white-seperator() {

  &:after {
    content: "";
    width: 315px;
    height: 40px;
    display: block;
    background: url('../images/white-seperator.svg') no-repeat;
    margin: 0.3em auto;
  }

}

@mixin block() {

  background-color: $lightgrey;
  border: 1px solid $darkgrey;
  padding: 2em;

}