@import 'mixins';
@import 'colours';
@import 'fonts';
@import 'forms';
@import 'buttons';


@import 'conversation';


*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  color: $green;
  img{
    border: none;
  }
}
a:hover{
//  border-bottom: 2px solid $green;
}

header{
  background: $blue;
  color: #fff;
  strong{
    font-weight: normal;
    font-size: 35px;
    a{
      color: $white;
      line-height: 80px;
      padding: 0 1em;
      display: inline-block;
    }
    a:hover{
      border-bottom: none;
    }
  }
  nav{
    text-align: right;
    position: relative;
    top: 1.2em;
    ul{
      li{
        display: inline-block;
        a{
          color: $white;
          background-color: $darkblue;
          display: inline-block;
          padding: 1em;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 100;
          margin-left: 0.5em
        }
        a:hover{
          background-color: $green;
        }
      }
    }
  }
}


@media only screen and (max-width: 40em) {

  header{
    nav{
      top: -3em;
    }
  }

}

body{
  h1{
    text-transform: uppercase;
    font-weight: normal;
  }
}


.big-block{
  background-color: $green;
  color: $white;
  padding: 3em 0;
  p{
    font-size: 15px;
  }

}


.block{
  @include block();
}
.advert-square{
  color: $white;
  background-color: $darkblue;
  width: 100%;
  height: 300px;
  line-height: 300px;
  text-align: center;
  margin-bottom: 1em;
}

.advert-interest{

  background-color: $green;
  width: 100%;

  margin-bottom: 1em;

  a{
    text-align: center;
    color: $white;
    display: inline-block;
    padding: 1em;
  }
  a:hover{
    border-bottom: none;
  }
}

.notices{
  position: absolute;
  bottom: 2em;
  left: 2em;
  margin: 0 auto;
  color: #fff;
  padding: 1em;
  z-index: 100;
}
.notice-okay{
  background-color: $green;
}
.notice-bad{
  background-color: $red;
}


footer{
  color: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 100px;

  .footer-social{
    background-color: $blue;
    padding: 2em 0;
  }
  .footer-bottom{
    background-color: $darkblue;
    padding: 2em 0;
  }
}